# This workflow will build a package then publish to GitHub Maven Access controlled repository

name: Release

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Build the Infrastructure
        run: docker compose up -d
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          server-id: github
          settings-path: ${{ github.workspace }}
      - name: Run Flyway migrations
        run: |
          ./mvnw \
            -Dflyway.url="${{ secrets.DB_URL }}" \
            -Dflyway.user="${{ secrets.DB_USER }}" \
            -Dflyway.password="${{ secrets.DB_PASSWORD }}" \
            -Dflyway.schemas="${{ secrets.DB_SCHEMA }}" \
            flyway:migrate
